.navbar {
  background: #0f172a;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
}

.navbar h2 {
  margin: 0;
}

.navbar p {
  margin-top: 5px;
  color: #cbd5e1;
  text-align: center;
}